<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
<div class="card small">
    <!-- Card Content -->
    <a class="twitter-timeline" href="https://twitter.com/PavelZarudnev" data-widget-id="591310185995571200">Твиты от @PavelZarudnev</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>